/* component */

/* 오른쪽 부분*/

div {
  box-sizing: border-box;
}

.admin-main {
  position: absolute;
  left: 280px;
  right: 0;
}

/* 메인 헤더 */

.admin-main-header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid var(--border);
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
}

.admin-main-header h1 {
  font-size: 25px;
  font-weight: 600;
}

.admin-main-header select {
  font-size: 25px;
  font-weight: 600;
  border: none;
}

/* 회색 바탕 */

.admin-main-section {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}

/* 검색창 + 추가버튼 부분 */

.admin-main-section-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* 검색창 */

.admin-search {
  width: 900px;
  position: relative;
}

.admin-search input {
  width: 855px;
  height: 40px;
  border: 1px solid #b0b0b0;
  background-color: var(--search);
  border-radius: 7px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 600;
}

.admin-search i {
  position: absolute;
  right: 25px;
  bottom: 12px;
  color: #666666;
}

/* 추가 버튼 */

.add-btn input {
  width: 121px;
  height: 40px;

  background-color: var(--main);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

/* 흰색 바탕 */

.admin-main-wrapper {
  border-radius: 7px;
  width: 100%;
  /* height: 777px; */
  /* padding-bottom: 10px; */
  background-color: white;
  border: 1px solid var(--border);
  margin-bottom: 20px;
}

/* 전체사용자 ?명 + 조회 버튼 */

.admin-main-board-top {
  height: 60px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

/* 전체사용자 ?명 */

.total-num-info span:last-child {
  margin-left: 5px;
  color: var(--main);
}

.total-num-info span:last-child::after {
  content: "명";
  color: black;
}

/* 조회 버튼 */
.margin-right {
  margin-right: 5px;
}

.cursor {
  cursor: pointer;
}

.main-select-btn select {
  width: 120px;
  height: 30px;
  cursor: pointer;
  padding: 0px 2px;
  border: 1px solid #b0b0b0;
}

.main-select-btn select option {
  font-size: 15px;
}

/* 메인 보드 */

.admin-main-board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border);
  font-size: 14px;
}

/* 후기게시판 리스트 칼럼 */

/* 후기게시판 디테일 제목 8개칼럼 */
/* 메뉴 글자색 수정*/

/* 메인 보드 그리드 수정 */

.admin-main-board {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 5fr 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-rows: repeat(11, 50px);
}

/* 조회 버튼 수정 */

.main-select-btn select {
  width: 130px;
}

/* 썸네일 크기 */

.admin-main-board img {
  width: 45px;
  height: 45px;
}

.total-num-info span:last-child::after {
  content: "개";
}

.grid-col8 {
  display: grid;
  grid-template-columns: 0.7fr 10fr 1.5fr 2fr 0.7fr 0.7fr 0.7fr 0.7fr;
  grid-template-rows: 1fr;
}

.grid-col8 div {
  border-right: 1px solid var(--border);
  height: 40px;
}

/* 2개 칼럼 */

.grid-col3 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.grid-col3 div {
  justify-content: flex-start;
  padding-left: 30px;
}

.cancel-btn,
.save-btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background-color: var(--base);
  border: 1px solid var(--border);
}

.save-btn {
  background-color: #353535;
  color: white;
  margin-left: 5px;
}

.check-btn,
.delete-btn {
  width: 90px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--base);
  border: 1px solid var(--border);
  font-size: 15px;
  font-weight: 600;
}

.flex-between {
  justify-content: space-between;
}

.delete-btn {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-add-btn {
  width: 60px;
  height: 30px;
  background-color: var(--adminMenu);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.pro-add-btn {
  position: absolute;
  right: 35px;
  bottom: 50px;
}

.admin-input {
  border: none;
  outline: none;
  font-size: 15px;
}

.admin-input-select {
  border: none;
  font-size: 15px;
  color: #666666;
}

.icon-block {
  color: rgba(0, 0, 0, 0.3);
}

.reply-header {
  border-top: 1px solid var(--border);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
}

.reply-header span:nth-child(2) {
  margin: 0px 5px;
}

.reply-header span:nth-child(3) {
  color: var(--main);
}
.reply-header span:nth-child(3)::after {
  content: "개";
  color: black;
}

.hidden {
  display: none;
}

i.fa-magnifying-glass {
  cursor: pointer;
}

.input-edit {
  border: none;
  border-bottom: 1px solid var(--border);
  height: 100%;

  box-sizing: border-box;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 600;
}

.board-title-edit {
  border: none;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 100%;

  box-sizing: border-box;
  padding-left: 28px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.board-cmt-edit {
  resize: none;
  border: none;
  outline: auto;
  outline-color: rgb(175, 206, 193);
  border-bottom: 1px solid var(--border);
  height: 100%;

  box-sizing: border-box;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.cer-edit {
  border: none;

  height: 100%;

  box-sizing: border-box;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 600;
}

.select-edit {
  margin-left: 0px;
  border: none !important;
  border-bottom: 1px solid var(--border);
  height: 100%;

  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
}

.select-edit:hover {
  cursor: pointer;
}

#printDupId,
#printDupNick {
  width: 200px;
  height: 50px;
  /* margin-left: 20px; */
  color: var(--main);
}

.small-img {
  width: 45px;
  height: 45px;
}

input[type="radio"] {
  accent-color: rgb(18, 144, 87);
}

/* 페이징바 */

.page-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.page-area a {
  box-sizing: border-box;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.page-area a > span {
  box-sizing: border-box;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;

  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin: 0px 5px;
}

.page-area a > span:hover {
  border: 2px solid var(--main);
  line-height: 25px;
  color: var(--main);
}

.page-area a > i:hover {
  color: var(--main);
}

.counsel-paging-left {
  margin-right: 5px;
}

.counsel-paging-right {
  margin-left: 5px;
}

.freeBoard-content {
  padding: 10px 10px;
  width: 100%;
  resize: none;
  border: none;
  background-color: white;
  font-size: 15px;
  line-height: 25px;
  font-family: "Noto Sans KR", sans-serif;
  /* overflow: hidden; */
}

.freeBoard-content-edit {
  outline-color: rgb(175, 206, 193);
}

.admin-main-board-detail {
  padding: 20px 40px 20px 20px;
  height: 500px;
  /* overflow-y: auto; */
}

.flex-start {
  justify-content: flex-start !important;
}

.reply-header {
  font-size: 16px !important;
}

.reply-detail {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr 2fr 1fr 0.5fr 0.5fr !important;
  font-size: 14px !important;
}

.light-color {
  color: rgb(175, 168, 168);
}

textarea {
  display: block;
}

.reviewImg {
  width: 220px;
  height: 300px;
}

/* 게시판 댓글 */

.reply-detail {
  display: grid;
  grid-template-columns: 1fr 6fr 1.5fr 1.5fr 0.8fr 0.5fr 0.5fr;
}

.reply-detail div,
.admin-reply-form div {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply-detail div {
  border-bottom: 1px solid var(--border);
}

.reply-detail div:nth-child(-n + 7) {
  background-color: #dedbdb;
  justify-content: center;
}

.admin-reply-form {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.admin-reply-form div:nth-child(2) {
  justify-content: flex-start;
}

.upload-name {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 300px;
  color: #1b1a17;
  margin-right: 10px;
}

.label-btn {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  cursor: pointer;
  height: 30px;
  width: 80px;
}

.border-none {
  border: none;
}

.padding-left0 {
  padding-left: 0px !important;
}

.freeBoard-content {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background-color: white;
  font-size: 15px;
  line-height: 25px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: auto;
}

.admin-main-board-detail {
  padding: 0px 20px 20px 0px !important;
}

.freeBoard-content2 {
  width: 100%;
  height: 400px;
  resize: none;
  border: none;
  background-color: white;
  font-size: 15px;
  line-height: 25px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: auto;
}
