@charset "utf-8";

/* 전문가 상담 리스트 css */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#counsel-main {
  background-color: var(--base);
  display: flex;
  justify-content: center;
  height: 900px;
  font-family: "Noto Sans KR", sans-serif;
}

.counsel-main-font {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "S-CoreDream-3Light";
}

/* 1200흰색배경 */
.counsel-main-wrapper {
  background-color: white;
  display: flex;
}

/* common css */

.hidden {
  display: none !important;
}

.block {
  display: block;
}

.border {
  border-radius: 5px;
  border: 1px solid var(--border);
}

/* 헤더 nav 컬러 보이게 */

/* .main-header-nav > .main-wrapper div:nth-child(3) div {
  display: block;
} */

/* 사이드바 */

.counsel-aside {
  width: 235px;
  margin-left: 50px;
  margin-top: 50px;
  /* position: sticky;
  top: 50px; */
  padding-bottom: 50px;
}

.counsel-search input {
  width: 100%;
  height: 37px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: var(--search);
}

.counsel-search input:focus {
  outline: none;
}

.counsel-search {
  position: relative;
  margin-bottom: 30px;
}

.counsel-search i {
  color: var(--explain);
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.counsel-type {
  width: 100%;
}

.counsel-type-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 8px 0px 8px 15px;
}

.counsel-type-header img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.counsel-type-header span {
  font-weight: 600;
}

.check-icon {
  font-size: 21px;
  color: var(--main);
}

input[type="checkbox"]:checked ~ i:nth-child(2) {
  display: inline-block !important;
}

input[type="checkbox"]:checked ~ i:nth-child(3) {
  display: none;
}

.counsel-type-list li {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.counsel-type-list li:first-child {
  padding-top: 5px;
}

.counsel-type-list li:last-child {
  padding-bottom: 5px;
}

.counsel-type-list li label {
  display: flex;
  align-items: center;
}

.counsel-type-list i {
  margin-right: 7px;
  margin-left: 3px;
}

.counsel-type-list i:hover {
  cursor: pointer;
}

.counsel-type2 {
  margin-top: 30px;
}

.counsel-type-box > span {
  font-weight: 600;
  margin-left: 15px;
}

.counsel-type-box {
  padding-top: 20px;
}

.counsel-pro-gender {
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

.counsel-radioBtn {
  margin: 20px 15px 18px 10px;
  display: flex;
  justify-content: space-around;
}

.counsel-level-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="radio"] {
  accent-color: #178d69;
}

/* 제출 버튼 */

.counsel-choice {
  margin-top: 20px;
}

.counsel-choice input {
  width: 100%;
  height: 40px;
  background-color: var(--main);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* 정렬(가격순등등) + 전문가리스트 */

.counsel-section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 915px;
}

/* 정렬(가격순등등) */

.counsel-filter {
  display: flex;
  justify-content: flex-end;
}

.counsel-filter li {
  margin-left: 20px;
  font-size: 14px;
}

/* 전문가 리스트 */

.counsel-pro-list {
  display: grid;
  margin-top: 60px;
  margin-left: 15px;
  grid-template-columns: 390px 390px;
  /* grid-template-rows: 154px 154px 154px; */
  column-gap: 40px;
  row-gap: 70px;
  margin-bottom: 100px;
}

.counsel-pro-detail {
  display: flex;
  height: 154px;
  width: 380px;
}

.counsel-pro-detail__detail {
  width: 300px;
}

.counsel-pro-detail img {
  width: 88px;
  height: 140px;
  margin-right: 15px;
}

.counsel-pro-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.counsel-pro-type {
  margin-bottom: 15px;
  font-size: 14px;
}

.counsel-pro-introduce {
  margin-bottom: 15px;
  line-height: 20px;
}

.counsel-pro-review {
  display: flex;
  margin-bottom: 10px;
}

.counsel-pro-review div:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.counsel-pro-price {
  display: flex;
  justify-content: flex-end;
}

.counsel-pro-price div:first-child {
  font-size: 14px;
  margin-top: 5px;
}

.counsel-pro-price div:last-child {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}

.counsel-pro-price div:last-child::after {
  content: "원";
  font-weight: 500;
}

.fa-star {
  color: var(--star);
}

/* 페이징 */

.counsel-pro-list-page {
  margin-top: 100px;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counsel-paging {
  box-sizing: border-box;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.counsel-paging > span {
  box-sizing: border-box;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;

  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin: 0px 5px;
}

.counsel-paging > span:hover {
  border: 2px solid var(--main);
  line-height: 25px;
  color: var(--main);
}

.counsel-paging > i:hover {
  color: var(--main);
}

.counsel-paging-left {
  margin-right: 5px;
}

.counsel-paging-right {
  margin-left: 5px;
}

.counsel-type-box {
  position: relative;
}

.counsel-pro-level-info {
  margin-left: 7px;
  color: var(--main);
  cursor: pointer;
}

.counsel-pro-level-info-detail {
  width: 430px;
  height: 100px;
  background-color: rgb(250, 254, 244);
  border-radius: 5px;
  border: 1px solid var(--border);
  position: absolute;
  right: -320px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}

.counsel-pro-level-info-detail div {
  font-size: 15px;
  font-weight: 400;
}

.counsel-pro-level-info-detail div > span {
  display: inline-block;
  width: 50px;
}

.cursor {
  cursor: pointer;
}
